.field,
.field-flag,
.field-mine,
.field-empty,
.field-1,
.field-2,
.field-3,
.field-4,
.field-5,
.field-6,
.field-7,
.field-8 {
  content: '';
  padding-top: 100%;
  background-repeat: no-repeat; 
}

.field {
  background-image: url('../svg/field.svg');
}

.field-flag {
  background-image: url('../svg/flag.svg');
}

.field-mine {
  background-image: url('../svg/mine.svg');
}

.field-empty {
  background-color: #bdbdbd;
}

.field-1 {
  background-image: url('../svg/1.svg');
}

.field-2 {
  background-image: url('../svg/2.svg');
}

.field-3 {
  background-image: url('../svg/3.svg');
}

.field-4 {
  background-image: url('../svg/4.svg');
}

.field-5 {
  background-image: url('../svg/5.svg');
}

.field-6 {
  background-image: url('../svg/6.svg');
}

.field-7 {
  background-image: url('../svg/7.svg');
}

.field-8 {
  background-image: url('../svg/8.svg');
}
