:root {
  --dark-gray: #7c7c7c;
  --light-gray: #bdbdbd;
}

body {
  background-color: var(--light-gray);
}

#content {
  display: grid;
  margin: 50px auto;
  max-width: 800px;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
}

#content,
#head,
#board {
  border: 2px solid var(--dark-gray);
  background-color: var(--light-gray);
}

#head {
  display: flex;
  justify-content: space-between;
  padding: 6px;
}

#mine-count {
  display: flex;
}

#clock {
  display: flex;
  justify-content: flex-end;
}

#board {
  display: grid;
  background-color: var(--dark-gray);
}

.smile,
.smile-done,
.smile-fail {
  background-repeat: no-repeat; 
}

.smile {
  background-image: url('../svg/smile.svg');
}

.smile-done {
  background-image: url('../svg/smile-done.svg');
}

.smile-fail {
  background-image: url('../svg/smile-fail.svg');
}
